@model PagedList.IPagedList<onsoft.Models.Library>

@{
    Layout = null;
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
<!--Sử dụng cho Confirm delete-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".yesno").easyconfirm({
            locale: { title: 'Xóa bản tin', button: ['Hủy', 'Xóa'] }
        });
    })
</script>

<!--Ajax sử dụng sửa dữ liệu trực tiếp trên form-->
<script type="text/javascript">
    $(function () {
        $('#msg').hide();
        // Ajax sử dụng cho change active
        $(".Active").click(function () {
            var Id = $(this).attr("id");
            clearUpdateMessage();
            $.post("/Library/ChangeActive", { "id": Id },
                function (data) {
                    $('#msg').show();
                    $('#update-message').removeClass().addClass("alert alert-info").text(htmlDecode(data));
                    $('#msg').fadeOut(5000);
                });
        });
        // Ajax sử dụng cho change index
        $(".Index").click(function () {
            var Id = $(this).attr("id");
            clearUpdateMessage();
            $.post("/Library/ChangeIndex", { "id": Id },
                function (data) {
                    $('#msg').show();
                    $('#update-message').removeClass().addClass("alert alert-info").text(htmlDecode(data));
                    $('#msg').fadeOut(5000);
                });
        });
        // Ajax sử dụng cho change Name
        $(".Namep").change(function () {
            var id = $(this).attr("id");
            var name = $(this).val();
            if (name == "") {
                // Báo lỗi nhập dữ liệu
                $('#msg').show();
                $('#update-message').removeClass().addClass("alert alert-error").text("Phải nhập tên thư viện.");
                $('#msg').fadeOut(5000);
            } else {
                clearUpdateMessage();
                $.post("/Library/ChangeLibrary", { "id": id, "name": name },
                    function (data) {
                        // Thay đổi thành công
                        $('#msg').show();
                        $('#update-message').removeClass().addClass("alert alert-info").text(htmlDecode(data));
                        $('#msg').fadeOut(5000);
                    });
            }
        });
        $(".Title").change(function () {
            var id = $(this).attr("id");
            var title = $(this).val();
            if (title == "") {
                // Báo lỗi nhập dữ liệu
                $('#msg').show();
                $('#update-message').removeClass().addClass("alert alert-error").text("Phải nhập tiêu đề.");
                $('#msg').fadeOut(5000);
            } else {
                clearUpdateMessage();
                $.post("/Library/ChangeLibrary", { "id": id, "title": title },
                    function (data) {
                        // Thay đổi thành công
                        $('#msg').show();
                        $('#update-message').removeClass().addClass("alert alert-info").text(htmlDecode(data));
                        $('#msg').fadeOut(5000);
                    });
            }
        });


    });

    function clearUpdateMessage() {
        $('#update-message').text("");
    }

    function htmlDecode(value) {
        if (value) {
            return $('<div />').html(value).text();
        }
        else {
            return '';
        }
    }
</script>

<!--Thay đổi chiều mũi tên khi sắp xếp-->
<script type="text/javascript">
    $(document).ready(function () {
        var currentSortOrder = '@ViewBag.CurrentSortOrder';
            if (currentSortOrder == "ord asc") {
                $('#ord').removeClass('NumberOrdDown').addClass("NumberOrdUp");
            }
            else {
                $('#ord').removeClass('NumberOrdUp').addClass("NumberOrdDown");
            }
        var currentSortName = '@ViewBag.CurrentSortName';
            if (currentSortName == "name asc") {
                $('#name').removeClass('NumberOrdDown').addClass("NumberOrdUp");
            }
            else {
                $('#name').removeClass('NumberOrdUp').addClass("NumberOrdDown");
            }
        var currentSortGroup = '@ViewBag.CurrentSortGroup';
            if (currentSortGroup == "group asc") {
                $('#group').removeClass('NumberOrdDown').addClass("NumberOrdUp");
            }
            else {
                $('#group').removeClass('NumberOrdUp').addClass("NumberOrdDown");
            }

        })
</script>

<!--Ajax sử dụng sắp xếp dữ liệu trực tiếp trên form-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".curCarSelect").on('click', function (e) {
           
            $('#hideLibraryID').val($(this).attr('data-whatever'));
          
            $.ajax({
                url: '/Library/LoadDetailLibraryById',
                type: 'POST',
                dataType: 'json',
                data: {
                    id:$('#hideLibraryID').val()
                },
                success: function(response) {
                     
                    $j('#exampleModal').modal('show');
                    var chuoi = "";
                    for (var i = 0; i < response.data.length; i++) {
                        chuoi += "<div style='float:left'><img src='" +
                            response.data[i] +
                            "' width='100'/><a href='#' class='deleteImg' ><i class='fa fa-times'></i>xoa</a></div>";
                    }
                    $('#imageList').append(chuoi);
                    $('.deleteImg').off('click').on('click', function() {
                        $(this).parent().remove()
                    })
                }
            });
        });
        // Ajax sử dụng sắp xếp sản phẩm theo tên
        $('#name').click(function () {
            var sortName = '@ViewBag.SortNameParm';
            var currentLibraryAmount = '@ViewBag.CurrentLibraryAmount';
            $.post("/Library/SortByName", { "sortName": sortName, "currentLibraryAmount": currentLibraryAmount },
                function (data) {
                    $("#ajaxLibrary").html(data);
                });
        });
        $('#btnChooImages').off('click').on('click',
            function(e) {
                e.preventDefault();
                
                var finder = new CKFinder();
                finder.selectActionFunction = function(url) {
                    $('#imageList').append('<div style="float:left"><img src="' +
                        url +
                        '" width="100"/><a href="#" class="deleteImg"><i class="fa fa-times"></i>xoa</a></div>');
                }
                finder.popup();
                $('.deleteImg').off('click').on('click', function() {
                    $(this).parent().remove()
                })

            });
        $('#btnSaveImages').off('click').on('click',
            function() {
                var images = [];
                $.each($('#imageList img'),
                    function(i, item) {
                        images.push($(item).prop('src'));
                    });
                $.ajax({
                    url: '/Library/AddMultiImages',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        images: JSON.stringify(images),
                        id:$('#hideLibraryID').val()
                    },
                    success: function(response) {
                        $j('#exampleModal').modal('hide');
                    }
                });
            });
        function DeleteImage(ele) {
            $(ele).parent().remove()
        }
      

    });
   

</script>

<div id="ajaxLibrary">
    <div class="row-fluid">
        <div class="span3">
            <div style="margin-top: 18px;">
                Tổng số bản ghi: <span style='color: #A52A2A;'>@ViewBag.TotalLibrary</span>
            </div>
        </div>
        <div class="span9">

            <!--Partial View phân trang-->
            @Html.Partial("_PartialLibraryPaging")

            <input name="mPage" id="mPage" value="@ViewBag.mPage" hidden="hidden" />
            <input name="PageSize" id="PageSize" value="@ViewBag.PageSize" hidden="hidden" />
        </div>
    </div>
    <div>
        <!--Hiển thị danh sách sản phẩm-->
        <table class="table table-striped table-bordered dataTable table-hover" cellspacing="0" id="grvLibrarys" style="border-collapse: collapse;">
            <tr>
                <th scope="col" class="CheckBoxsmall" style="text-align: center; width: 20px;">
                    <input type="checkbox" onclick="Javascript: chkSelectAll_OnClick(this)" id="chkSelectAll" name="checkAll" />
                </th>
                <th scope="col" id="name" class="NumberOrdDown">
                    @Html.Label("Tên thư viện")
                </th>
                <th scope="col" class="text">Tiêu đề</th>
                <th scope="col" class="number"> Ảnh đại diện</th>
                <th scope="col" class="number" style="width: 60px;">Số ảnh con</th>
                <th scope="col" class="number" style="width: 60px;">Kích hoạt</th>
                <th scope="col" class="number" style="width: 100px; text-align: center">Chức năng</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr style="background-color: #fff">
                    <td style="text-align: center">
                        @Html.CheckBox("chk" + Model[i].Id, new { id = "chkSelect", onclick = "Javascript:chkSelect_OnClick(this,0)", @class = "chk" })
                    </td>
                  
                    <td class="text" style="vertical-align: middle;">
                        @Html.TextBox("Namep" + Model[i].Id, @Model[i].Name, new { @style = "width:550px; text-align: left", @class = "Namep", @id = @Model[i].Id })
                    </td>
                    <td class="text">
                        @Html.TextBox("Title" + Model[i].Id, @Model[i].Title, new { @style = "width:550px; text-align: left", @class = "Title", @id = @Model[i].Id })
                    </td>
                    <td>
                        @if (Model[i].Image != null && Model[i].Image == "")
                        {
                            <img src="@Model[i].Image" width="30" height="30"/>
                        }
                        else
                        {
                            <img src="~/Images/no-image.jpg" width="30" height="30"/>
                        }
                        </td>
                    <td class="text-center" style="vertical-align: middle;">
                        @Model[i].LibraryDetails.Count
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        @Html.CheckBox("chkActive" + Model[i].Id, (Model[i].Action == true) ? true : false, new { @class = "chk Active", @id = @Model[i].Id })
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        <a type="button" class="action-link-button curCarSelect" data-toggle="modal" data-image="@Model[i].LibraryDetails" data-whatever="@Model[i].Id" ><i class="icon-plus"></i></a>
                        <a href="../../Library/LibraryEditot?id=@Model[i].Id" class="action-link-button"
                           title="Chỉnh sửa thư viện này"><i class="icon-edit"></i></a>

                        <a href="LibraryDelete?id=@Model[i].Id&page=@ViewBag.mPage&pagesize=@ViewBag.PageSize" class="yesno action-link-button"
                           title="Bạn chắc chắn muốn bản ghi này ?"><i class="icon-trash"></i></a>


                    </td>
                </tr>
            }
        </table>
    </div>

    <!--Partial View phân trang-->
    @Html.Partial("_PartialLibraryPaging")

    <div style="clear: both;"></div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload ảnh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="imageList">

                    </div>
                    <input type="button" id="btnChooImages" value="Chọn ảnh"/>
                    <input type="hidden" id="hideLibraryID" value="0"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSaveImages">Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>

